<template>
  <div>
    <InnerPagesLinks />
    <h1>{{pageTitle}}</h1>

    <button type="button" class="btn btn-success" @click.stop.prevent="handleBackClick">
      Go back
    </button>
  </div>
</template>

<script>
import InnerPagesLinks from "@/components/InnerPagesLinks";

export default {
  name: "InnerPage",
  components:{
    InnerPagesLinks
  },
  computed:{
    pageTitle(){
      return this.$route.name;
    }
  },
  methods:{
    handleBackClick(){
      this.$router.go(-1);
    }
  }
}
</script>

<style scoped>

</style>
