<template>
  <div>
    <router-link v-for="link in links" :to="link.descriptor" :key="link.id">
      {{ link.label }}
    </router-link>
  </div>
</template>

<script>
export default {
  name: "InnerPagesLinks",
  computed: {
    links() {
      const pageNumbers = [1, 2, 3];
      return pageNumbers
          .map((pageNumber) => {
        const name =  `inner${pageNumber}`;

        if(name === this.$route.name){
          return;
        }

        return {id: pageNumber, descriptor: {name}, label: `Inner ${pageNumber}`};
      }).filter(Boolean)
    }
  }
}
</script>

<style scoped>

</style>
