<template>
<div class="container d-flex justify-content-center">
  <form @submit.stop.prevent="handleSubmit">
    <div class="input-group mb-3">
      <input type="email" class="form-control"  aria-describedby="basic-addon3" v-model="email" placeholder="email">
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control" aria-describedby="basic-addon3" v-model="password" placeholder="password">
    </div>
    <div>
      <button type="submit" class="btn btn-primary">
        Submit
      </button>
    </div>
  </form>
</div>
</template>

<script>
import {mapActions} from "vuex";
import routeNames from "@/router/routeNames";

export default {
  name: "Login",
  data(){
    return {
      email: '',
      password: '',
    }
  },
  methods:{
    ...mapActions({
      signIn: 'auth/signIn',
    }),
    async handleSubmit(){
      await this.signIn({email: this.email, password: this.password});
      await this.$router.push({name: routeNames.home})
    },
  }
}
</script>

<style scoped>

</style>
